#logger {
	height: 500px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	border: 5px solid rgb(170, 170, 170);
	color: rgba(25, 255, 25, 1);
	background-color: #000000;
	overflow: auto;
}

#logger span {
	color: rgba(220, 220, 220, 1);
	font-weight: bold;
}